ORDER_DB_CONNECTION=Driver={ODBC Driver 18 for SQL Server};Server=.\OMSDEV;Database=omsdata_local;Trusted_Connection=yes;TrustServerCertificate=yes;
ORDER_ENV=Development
ORDER_ENABLE_APP_WRITE=true
ORDER_ENABLE_PRODUCTION_OMS_WRITE=false
